fastapi
uvicorn
jinja2
python-multipart
beautifulsoup4
edge-tts
pydub
pdfplumber
ebooklib
python-docx
pytesseract
pillow
aiofiles
requests
gTTS
soundfile
huggingface-hub
PyQt6
pyqtdarktheme
PyYAML
numpy
vieneu
